<%#sico%>
<ul>
  <% if user_signed_in? %>
<br><br><br>
<center>
<h1>Bienvenue dans ton espace privé n° <%=current_user.id%></h1><br>
<br>
   <center> <h3 class= "mb-3">  Voici ton email :<%= current_user.email %></h3></center>
<br><br>
<%= link_to "Edit email / password", edit_user_registration_path,class: " btn btn-lg btn-outline-secondary"%> 
<br><br>
  <%= link_to "Secret page", static_pages_secret_path, class: "btn btn-lg btn-outline-warning"%>
<br><br>
</center>
  <%= link_to "Sign out", destroy_user_session_path, class:"btn btn-lg btn-info", method: :delete %></span>

<%#si deco%>
  <% else %>
<div style= "margin: 280px">
<center>
<h1>Vous avez déjà un compte ? Identifez-vous</h1><br>

 <%#= link_to "Sign in", new_user_session_path %>

<a href = "/users/sign_in" class ="btn btn-info btn-lg btn-block">Sign in</button></a>
<br><br>
<h1>Sinon, créez votre compte en un clic! </h1><br>

<%#= link_to "Sign up", new_user_registration_path %>

<a href = "/users/sign_up" class ="btn btn-info btn-lg btn-block">Sign up</button></a>
</center>

  <% end %>
</ul>
</div>
